.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
  padding: 0 2rem;
  flex-wrap: wrap;
}

.about__details {
  flex: 1 1 50%;
  padding-right: 2rem;
  opacity: 0;
  animation: fadeInText 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.about__image {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  animation: slideInImage 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.about__image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.animate-text {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 10px;
  margin-bottom: 5px;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
  color: #bdbddd;
}

.about-section {
  text-align: center;
  margin-bottom: 2rem;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-description {
  font-size: 20px;
  line-height: 1.6;
}

.highlight {
  color: royalblue;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about__details {
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .about__image {
    margin-top: 2rem;
    transform: translateX(0);
  }

  .about__image img {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
  }

  .section-description {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 1.2rem;
  }

  .section-description {
    font-size: 16px;
  }

  .about__details,
  .about__image {
    width: 80%;
  }

  .about__image img {
    width: 80%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInImage {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
