/* General Styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 2rem;
  padding-left: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 100%;
}

.nav__list-item_div {
  display: flex;
}

.nav--dark {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav h3 {
  margin: 0;
  color: #3444c5; /* Change the color of the title */
}

.link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ffcc66;
}

.btn--icon {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.btn--icon:hover {
  color: #ffcc66;
}

/* Navigation List */
.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__list-item {
  margin-right: 2rem;
  text-transform: lowercase; /* Make all letters lowercase */
  /* Capitalize first letter */
  &::first-letter {
    text-transform: uppercase;
  }
}

.link--nav {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

.link--nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffcc66;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link--nav:hover {
  color: #ffcc66;
}

.link--nav:hover::after {
  transform: scaleX(1);
}

/* Responsive Styles */
.nav__hamburger {
  display: none;
}

@media (max-width: 768px) {
  .nav__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 1rem;
    z-index: 1;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }

  .nav__list-item_div li {
    margin-left: 10px;
    margin-top: 18px;
  }

  .nav__list-item {
    margin-right: 0;
    margin-bottom: 1rem;
    text-transform: lowercase; /* Make all letters lowercase */
    /* Capitalize first letter */
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .nav__hamburger {
    display: block;
  }
}