.skills__list {
    max-width: 450px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform 0.2s linear;
  }
  
  .skills__list-item {
    margin: 0.5em;  
    
  }
  .skills__list li {
    color: rgb(56, 84, 194);
     transition: transform 0.2s linear;
  }